<!DOCTYPE html>
<html>
<head>
  <title><%= staticTag %></title>
  <meta charset="utf-8" />
  <meta name="keywords" content="我的笔记">
  <meta name="description" content="我的笔记">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="/dist/common.css">
  <link rel="stylesheet" type="text/css" href="/dist/app.css">
  <script>
  window.pageConfig = {
    // staticTag: '<%= staticTag %>',
    appid: 'wxa5d9d1d66935ae04',
    platform: 'wxent',
    isDevPage: false
  }
  </script>
</head>
<body>
  <div class="mod-<%= staticTag %>"></div>
  <script src="/dist/vue_common.js"></script>
  <script src="/dist/app.js"></script>
</body>
</html>
